.oscMenu {
    position: relative;
    text-align: center;
}
.filterMenu {
    position: relative;
    text-align: center;
}
.dropdown-toggle {
    margin-bottom: 10px;
}

.slider {
    -webkit-appearance: slider-vertical;
    width: 8px;
    height: 175px;
    padding: 0 5px;
}

.slider::-webkit-slider-thumb {
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}